* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D6E2F0;
}
main{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
     
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.cartao {
    border-radius: 15px;
    background: #FFF;
    width: 315px;
    height: 484px;
    flex-shrink: 0;
    padding: 20px;
   
}

.cartao h1 {
    color: #1F3251;
    text-align: center;
    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 19px;
}

.cartao .qr {
    color: #7B879D;
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main .qr2 {
    color: #1F3251;
    font-family: Outfit;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 28px;
    text-align: center;
}